---
// Lib
import { formatInTimeZone } from "date-fns-tz";

// Types
type State = string;

type Address = {
  street: string;
  city: string;
  state: State;
};

type Venue = {
  name: string;
  address: Address;
};

export type EventType = {
  date: Date;
  timezone: string;
  venue: Venue;
};

type EventCardProps = {
  event: EventType;
};

const { event } = Astro.props as EventCardProps;
---

<div
  class="border-primary text-primary relative border-s-[12px] bg-white px-8 py-6 shadow-2xl"
>
  <div class="bg-secondary/50 absolute top-0 left-0 h-full w-full object-cover">
  </div>
  <div
    class="relative z-10 flex flex-col gap-8 sm:flex-row sm:items-center sm:gap-16"
  >
    <time
      class="heading-4 flex min-w-[100px] flex-col gap-1 text-left sm:gap-2 sm:text-center"
    >
      <span>{formatInTimeZone(event.date, event.timezone, "MMM d")}</span>
      <span>{formatInTimeZone(event.date, event.timezone, "yyyy")}</span>
    </time>
    <div class="flex flex-col gap-1 sm:gap-2">
      <address class="body-xl">
        {event.venue.address.city}, {event.venue.address.state}
      </address>
      <h3 class="body-base">{event.venue.name}</h3>
    </div>
  </div>
</div>
