---
// Components
import { Image } from "astro:assets";

// Types
import type { ImageMetadata } from "astro";
type SubpageContentProps = {
  src: ImageMetadata;
  alt?: string;
};

const { src, alt = "" } = Astro.props as SubpageContentProps;
---

<main class="flex flex-col lg:flex-row lg:gap-4">
  <div class="flex lg:flex-1">
    <div class="hidden lg:block lg:flex-grow"></div>
    <div class="w-full max-w-[640px]">
      <slot />
    </div>
  </div>
  <div
    class="top-0 order-first flex h-80 flex-shrink p-4 lg:sticky lg:order-last lg:h-screen lg:flex-1 lg:p-0 lg:ps-8"
  >
    <div
      class="from-secondary via-tertiary to-primary rounded-website relative w-full overflow-clip bg-gradient-to-br shadow-xl lg:h-full lg:max-w-[1000px] lg:rounded-none"
    >
      <!-- <div class="absolute inset-0 h-full w-full"></div> -->
      <Image
        src={src}
        alt={alt}
        class="h-full w-full object-cover opacity-60"
        loading="eager"
        widths={[320, 480, 640, 768, 960, 1280, 1536, 1920]}
        sizes="(min-width: 1024px) 50vw, 100vw"
      />
    </div>
  </div>
</main>
