@import "tailwindcss";
@import "./input-reset.css";
@import "./font-faces.css";
@import "./text-components.css";

@theme {
  --breakpoint-xs: 28rem;

  --font-heading: "Notable", "sans";
  --font-body: "DM Sans", "sans";

  --color-primary: #27130c;
  --color-secondary: #e7dfb9;
  --color-tertiary: #a56a41;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--color-tertiary);
  outline-offset: 6px;
}

@layer components {
  .menu-button {
    @apply hover:cursor-pointer;
  }
}

@keyframes arrowPulse {
  0%,
  100% {
    color: var(--color-secondary);
  }
  50%,
  90% {
    color: var(--color-primary);
  }
}

.arrow1 {
  animation: arrowPulse 2s infinite;
  animation-delay: 0s;
}

.arrow2 {
  animation: arrowPulse 2s infinite;
  animation-delay: 0.25s;
}

.arrow3 {
  animation: arrowPulse 2s infinite;
  animation-delay: 0.5s;
}
