@import "tailwindcss";
@import "./input-reset.css";
@import "./font-faces.css";
@import "./text-components.css";

@theme {
  --breakpoint-xs: 28rem;

  --font-heading: "Notable", "sans";
  --font-body: "DM Sans", "sans";

  --radius-website: 12px;

  /* --color-primary-desaturated: #22110b;
  --color-secondary-desaturated: #dcd6b0;
  --color-tertiary-desaturated: #8f5e3a; */

  --color-primary-desaturated: #1e0f09; /* Deeper, less saturated brown-black */
  --color-secondary-desaturated: #cfc9a1; /* Softer beige, less yellow */
  --color-tertiary-desaturated: #7c4f32; /* Earthy brown, less red/orange */

  --color-primary-original: #27130c;
  --color-secondary-original: #e7dfb9;
  --color-tertiary-original: #a56a41;

  --color-primary: var(--color-primary-desaturated);
  --color-secondary: var(--color-secondary-desaturated);
  --color-tertiary: var(--color-tertiary-desaturated);
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--color-tertiary);
  outline-offset: 6px;
}

@layer components {
  .menu-button {
    @apply hover:cursor-pointer;
  }

  .button-animation {
    @apply hover:scale-[1.02] hover:cursor-pointer active:scale-[0.98];
  }
}

@keyframes arrowPulse {
  0%,
  100% {
    color: var(--color-secondary);
  }
  50%,
  90% {
    color: var(--color-primary);
  }
}

.arrow1 {
  animation: arrowPulse 2s infinite;
  animation-delay: 0s;
}

.arrow2 {
  animation: arrowPulse 2s infinite;
  animation-delay: 0.25s;
}

.arrow3 {
  animation: arrowPulse 2s infinite;
  animation-delay: 0.5s;
}
