---
// Components
import { Content, Socials } from "@/components/shared";
import { Image } from "astro:assets";
import NewsletterSection from "@/components/newsletter-form/NewsletterSection.astro";

// Data
import { links } from "@/data/links";

// Images
import logo from "@/assets/images/logos/jj-logo-secondary-250px.png";

const { className } = Astro.props as { className?: string };
---

<footer class={`bg-primary text-secondary relative z-20 py-16 ${className}`}>
  <Content>
    <div class="flex flex-col justify-between gap-16 md:flex-row">
      <div class="flex flex-col gap-16">
        <div>
          <Image
            src={logo}
            alt="JJ Rupp Logo"
            class="h-[60px] w-auto md:h-[80px]"
          />
        </div>
        <NewsletterSection />
        <Socials
          hasBgCircles
          className="xs:justify-normal flex justify-around lg:hidden"
        />
      </div>
      <div class="flex flex-col gap-16">
        <ul class="xs:items-end flex flex-col items-center gap-2">
          {
            links.map((link) => (
              <li class="button-animation select-none hover:opacity-80">
                <a class="font-heading heading-3" href={link.href}>
                  {link.display}
                </a>
              </li>
            ))
          }
        </ul>
        <Socials className="hidden lg:flex" hasBgCircles />
      </div>
    </div>
    <div class="body-sm xs:text-right mt-16 text-center">
      <span>Website by</span>
      <a
        class="hover:text-tertiary duration-300; underline underline-offset-2 transition-colors"
        href="https://summitavenueweb.com"
        aria-label="Visit the website developer's page, Summit Avenue Web Solutions"
        >Summit Avenue Web Solutions</a
      >
    </div>
  </Content>
</footer>
