---
// Components
import Layout from "../layouts/Layout.astro";
import {
  HeroSection,
  NewMusicSection,
  ScheduleSection,
} from "@/components/home";

// Data
import { seo } from "@/data/seo";
---

<Layout seo={seo.home} isAbsolute={true}>
  <main>
    <HeroSection />
    <NewMusicSection />
    <ScheduleSection />
  </main>
</Layout>
