---
// Components
import Layout from "../layouts/Layout.astro";
import { HeroSection } from "@/components/home";

// Data
import { seo } from "@/data/seo";
---

<Layout seo={seo.home}>
  <main>
    <HeroSection />
  </main>
</Layout>
