---
// Components
import Layout from "../layouts/Layout.astro";
import { Section, Content } from "@/components/shared";

// Data
import { seo } from "@/data/seo";
---

<Layout seo={seo.photos}>
  <main>
    <Section>
      <Content>
        <h1 class="heading-2 mb-16">Photos</h1>
      </Content>
    </Section>
  </main>
</Layout>
