---
// Components
import Layout from "../layouts/Layout.astro";
import { Section, Content } from "@/components/shared";
import { Image } from "astro:assets";

// Images
import image0 from "@/assets/images/gallery/jj-0.jpg";
import image1 from "@/assets/images/gallery/jj-1.jpg";
import image2 from "@/assets/images/gallery/jj-2.jpg";
import image3 from "@/assets/images/gallery/jj-3.jpg";
import image4 from "@/assets/images/gallery/jj-4.jpg";

const images = [image0, image1, image2, image3, image4];

// Data
import { seo } from "@/data/seo";
---

<Layout seo={seo.photos}>
  <main>
    <Section>
      <Content>
        <h1 class="heading-2 mb-16">Photos</h1>
        <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
          {
            images.map((image, key) => (
              <li class="aspect-square">
                <Image src={image} class="h-full w-full object-cover" alt="" />
              </li>
            ))
          }
        </ul>
      </Content>
    </Section>
  </main>
</Layout>
