---
// Components
import Layout from "../layouts/Layout.astro";
import { EventList } from "@/components/schedule";
import { SubpageContent, Section, Content } from "@/components/shared";

// Images
import backgroundImage from "@/assets/images/subpage/schedule/jj-rupp-live-on-stage.jpg";

// Data
import { seo } from "@/data/seo";
---

<Layout seo={seo.schedule}>
  <SubpageContent src={backgroundImage}>
    <Section>
      <Content>
        <h1 class="heading-2 mb-16">Schedule</h1>
        <EventList client:load />
      </Content>
    </Section>
  </SubpageContent>
</Layout>
