---
// Components
import Layout from "../layouts/Layout.astro";

// Data
import { seo } from "@/data/seo";
---

<Layout seo={seo.schedule}>
  <main>
    <h1 class="font-heading">SCHEDULE</h1>
  </main>
</Layout>
