---
// Components
import { Image } from "astro:assets";
import ResponsiveVideo from "./ResponsiveVideo";
import { Header } from "@/components/layout";
import { StreamingIcons } from "@/components/shared";
import { ScrollArrows } from "@/components/decorative";

// Images
import backgroundImage from "@/assets/images/artist/jj-rupp-guitar-bw.png";

const { className = "" } = Astro.props as { className: string };
---

<section
  class={`relative flex h-dvh w-full flex-col overflow-hidden ${className}`}
>
  <Header isSkeleton={true} className="shrink-0 opacity-0" />
  <div
    class="from-secondary via-tertiary to-primary absolute h-full w-full bg-gradient-to-br"
  >
  </div>
  <Image
    src={backgroundImage}
    alt=""
    class="h-full w-full grow object-cover opacity-20"
    loading={"eager"}
    widths={[640, 960, 1280, 1536, 1920, 2560, 2880]}
    sizes="100vw"
  />
  <!-- <ResponsiveVideo
    className="h-full w-full grow object-cover drop-shadow-2xl"
    client:only
  /> -->
  <div
    class="absolute bottom-8 left-1/2 flex w-full max-w-[1280px] -translate-x-1/2 items-end justify-between px-8 2xl:px-0"
  >
    <StreamingIcons
      className="z-30 flex-col justify-center sm:flex-row sm:justify-start"
      hasBgCircles
    />
    <ScrollArrows className="-mb-6" />
  </div>
</section>
