---
import { Section, Content } from "@/components/shared";
import { NewReleaseCard } from "@/components/home";
---

<Section>
  <Content>
    <h2 class="font-heading heading-1 text-primary mb-16">New Music</h2>
    <div class="flex h-full w-full items-center justify-center">
      <NewReleaseCard className="" />
    </div>
  </Content>
</Section>
