---
// Components
import { Section, Content, Link } from "@/components/shared";
import { EventList } from "@/components/schedule";

const { className } = Astro.props as { className: string };
---

<Section className={className}>
  <Content>
    <div class="flex flex-col gap-16">
      <h2 class="font-heading heading-1 text-primary">Upcoming Shows</h2>
      <EventList limit={5} client:load />
      <Link
        href="/schedule"
        className="self-end"
        styleType="link"
        variant="primary"
        aria-label="View JJ RUPP's full performance schedule"
        >See Full Schedule</Link
      >
    </div>
  </Content>
</Section>
