---
// Components
import { Section, Content } from "@/components/shared";
import { EventCard } from "@/components/schedule";

// Data
import { events } from "@/data/events";

console.log(events);

const { className } = Astro.props as { className: string };
---

<Section>
  <Content>
    <h2 class="font-heading heading-1 text-primary mb-16">Upcoming Shows</h2>
    <ul class="flex flex-col gap-4">
      {
        events.map((event) => (
          <li>
            <EventCard event={event} />
          </li>
        ))
      }
    </ul>
  </Content>
</Section>
