---
// Components
import { Image } from "astro:assets";

// Images
import background from "@/assets/images/background.jpg";

const { className } = Astro.props;
---

<div class={`h-dvh w-full -z-10 ${className}`}>
  <div class="relative h-full w-full">
    <div class={`absolute inset-0 bg-secondary`}></div>
    <!-- <Image
      src={background}
      class="h-full w-full object-cover opacity-20"
      alt=""
      loading="eager"
      widths={[640, 960, 1280, 1920, 2560, 3840]}
      sizes="400vw"
      format="webp"
    /> -->
  </div>
</div>
