---
// Components
import { Image } from "astro:assets";

// Images
import background from "@/assets/images/textures/texture-4.jpg";

const { className } = Astro.props;
---

<div class={`h-dvh w-full -z-10 ${className}`}>
  <div class="relative h-full w-full">
    <div class={`absolute inset-0 bg-secondary`}></div>
    <Image
      src={background}
      class="h-full w-full object-cover opacity-5"
      alt=""
      loading="eager"
      format="webp"
      widths={[1280, 1920, 2560, 3840, 5120]}
      sizes="100vw"
      quality={90}
    />
  </div>
</div>
