---
const {
  className = "",
  youtubeId,
  embedUrl,
  height = 300,
} = Astro.props as {
  className: string;
  youtubeId: string;
  embedUrl: string;
  height: number;
};
---

<div class="">
  <iframe
    class="w-full"
    height={height}
    src={embedUrl}
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
</div>
