---
// Styles
import "./src/styles/global.css";

// Components
import { Seo, Favicon, FontPreloaders, ThemeMeta } from "@/components/common";
import { Header } from "@/components/shared";
import { PaperBackground } from "@/components/decorative";

// Types
import type { SeoMeta } from "@/data/seo";

const { seo } = Astro.props as { seo: SeoMeta };
---

<!doctype html>
<html lang="en">
  <head>
    <Seo {...seo} />
    <Favicon />
    <FontPreloaders />
    <ThemeMeta color="#27130c" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="bg-secondary text-primary font-body">
    <Header className="z-50 w-full" />
    <PaperBackground className="fixed z-10 max-w-[1920px]" />
    <div class="relative z-30">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1920px;
    width: 100%;
    overscroll-behavior: none;
  }
</style>
