---
// Styles
import "@/styles/global.css";

// Components
import { Seo, Favicon, FontPreloaders, ThemeMeta } from "@/components/common";
import { PaperBackground } from "@/components/decorative";
import { Header, Footer } from "@/components/layout";

// Types
import type { SeoMeta } from "@/data/seo";
import PageTransition from "@/components/layout/PageTransition";

const { seo, isAbsolute = false } = Astro.props as {
  seo: SeoMeta;
  isAbsolute: boolean;
};
---

<!doctype html>
<html lang="en">
  <head>
    <Seo {...seo} />
    <Favicon />
    <FontPreloaders />
    <ThemeMeta color="#27130c" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="bg-secondary text-primary font-body">
    <PaperBackground className="fixed" />
    <PageTransition client:load />
    <Header className={isAbsolute ? "absolute top-0 z-20 w-full" : ""} />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    overscroll-behavior: none;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
</style>
